body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #253ee1;
}

#title {
    flex-direction: column;
    line-height: 10px;

}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
}

a:hover {
    color: #253ee1;
    transition: 0.3s;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#botao_inscrever-se {
    border: 2px solid #253ee1;
    padding: 10px;
    border-radius: 15px;
}

#botao_inscrever-se:hover {
    background-color: #253ee1;
    color: whitesmoke;
}

span {
    color: #253ee1;
}

p {
    line-height: 20px;
    max-width: 500px;
}

img {
    width: 500px;
    margin-left: 100px;
}
form{
    display:flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #253ee1;
    color: whitesmoke;
    font-weight: bold;
}

form [type="submit"]:hover{
cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}

