body {
    background-color: whitesmoke;
    color: black ;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px green;
}

header ul{
    margin-left: 28%;
}

header img {
    width: 100px;
    height: 100px;
}

#grilo{
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
    margin-left: 10px;
}

#title {
    flex-direction: column;
    line-height: 10px;

}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: black;
}

a:hover {
    color: green;
    transition: 0.3s;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

h2 {
    font-size: 26px;
    line-height: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#botao_inscrever-se {
    border: 2px solid green;
    padding: 10px;
    border-radius: 15px;
}

#botao_inscrever-se:hover {
    background-color: green;
    color: whitesmoke;
}

span {
    color: green;
}

p {
    line-height: 20px;
    max-width: 500px;
}

#estudante{
    margin-bottom: 0px;
    margin-left: 120px;
}

#icones{
    height: auto;
}

#icones img {
    width: 50px;
    height: 50px;
    margin-left: 45px;
    margin-top: 30px;
}
